{% extends 'base.html' %}
  {% block title %}
    <h1> {{ objeto_reporter|capfirst }}</h1>
  {% endblock title %}
  {% block content %}
      <div class="content" >
        <div class="row">
          <strong>Código:</strong> <p> {{ objeto_reporter.id }} </p>
          <strong>Nome:</strong> <p> {{ objeto_reporter.name }} </p>
            {{ objeto_reporter.name|capfirst }} </p>
        </div>
      </div>

      <div>
          <h3>Esta ação é irreversível deletar os dados acima?</h3>

          <form id="objeto_reporter"
            action="{% url 'relacionamentos:reporter_delete_generic' objeto_reporter.id %}"
            method="post">

              {% csrf_token %}

              <input type="hidden" id="reporter_id" name="reporter_id"
                    value="{{ objeto_reporter.id }}">
              <button type="submit" class="btn btn-outline-danger btn-lg"
                      form="objeto_reporter" value="Deletar"> <i class="bi bi-trash3"> </i>
              Sim, Deletar</button>

              <a class="btn btn-outline-light btn-lg" role="button"

           href="{% url 'relacionamentos:reporter_list_generic' %}"> <i
                class="bi bi-arrow-left"></i> Voltar </a>

          </form>

      </div>

  {% endblock content %}