{% extends 'base.html' %}

{% block title %}
    {% if lista %}
        <h1>Lista de Exemplos</h1>
    {% else %}
        <h1>Nenhum exemplo cadastrado!</h1>
    {% endif %}
{% endblock title %}

{% block content %}

<a class="btn btn-outline-success btn-lg" role="button"
                           data-bs-toggle="tooltip" data-bs-placement="top"
                           title="gerar_cpf"
                           href="{% url 'relacionamentos:reporter_function_create' %}">
                            <i class="bi bi-plus-square"></i> Criar Reporter </a>

{% if lista %}
    <table class="table table-hover">
        <thead>
            <th>#</th>
            <th>CPF</th>
            <th>Nome</th>
            <th>Ações Funções</th>
            <th>Ações Classes</th>
        </thead>
        <tbody>

        {% for reporter in lista %}
            <tr>
                <td>{{ reporter.id }}</td>
                <td>{{ reporter.cpf }}</td>
                <td>{{ reporter.name }}</td>
            <td>

                    <div>
                        <a class="btn btn-outline-secondary btn-lg" role="button"
                           data-bs-toggle="tooltip" data-bs-placement="top"
                           title="Detalhar com Funções"
                           href="{% url 'relacionamentos:exemplo_function_read' reporter.id %}">
                            <i class="bi bi-card-list"></i> Detalhar </a>
                    </div>

                    <div>
                        <a class="btn btn-outline-secondary btn-lg" role="button"
                           data-bs-toggle="tooltip" data-bs-placement="top"
                           title="Detetar com funções"
                           href="{% url 'relacionamentos:reporter_function_delete' reporter.id %}">
                            <i class="bi bi-card-list"></i> Excluir </a>
                    </div>

                    <div>
                        <a class="btn btn-outline-secondary btn-lg" role="button"
                           data-bs-toggle="tooltip" data-bs-placement="top"
                           title="gerar_cpf"
                           href="{% url 'relacionamentos:gerar_cpf' reporter.id %}">
                            <i class="bi bi-card-list"></i> Gerar CPF </a>
                    </div>

                    <div>
                        <a class="btn btn-outline-secondary btn-lg" role="button"
                           data-bs-toggle="tooltip" data-bs-placement="top"
                           title="gerar_cpf"
                           href="{% url 'relacionamentos:reporter_function_update' reporter.id %}">
                            <i class="bi bi-card-list"></i> Update reporter </a>
                    </div>

            </td>

            <td>
                <div>
                    <div>
                        <a class="btn btn-outline-secondary btn-lg" role="button"
                           data-bs-toggle="tooltip" data-bs-placement="top"
                           title="Detalhar com Funções"
                           href="{% url 'relacionamentos:exemplo_classe_read' reporter.id %}">
                            <i class="bi bi-card-list"></i> Detalhar </a>
                    </div>
                </div>
            </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock content %}