{% extends 'base.html' %}
  {% block title %}
    <h1> {{ objeto_reporter|capfirst }}</h1>
  {% endblock title %}
  {% block content %}
      <div class="content" >
        <div class="row">
          <strong>Código:</strong> <p> {{ objeto_reporter.id }} </p>
          <strong>Nome:</strong> <p> {{ objeto_reporter.name }} </p>
            {{ objeto_reporter.name|capfirst }}</p>
        </div>
      </div>

      <div>
        <a class="btn btn-outline-light btn-lg" role="button"
           href="{% url 'relacionamentos:reporter_list_generic' %}"> <i
                class="bi bi-arrow-left"></i> Voltar </a>
      </div>
  {% endblock content %}